body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    overflow: hidden;
}

#banner {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.078) 70%, rgba(0, 0, 0, 0.166) 10%);
    text-align: center;
    padding: 10px 0;
    font-size: 26px;
    font-weight: bold;
    z-index: 1000;
    color: rgb(237, 237, 237);
}

#video-container {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.video-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 140px; /* Sposta le informazioni più in alto */
    right: 20px;
    background: rgba(0, 0, 0, 0.279);
    padding: 8px;
    font-size: 16px;
    font-weight: Bold;
    border-radius: 30px;
    color: white;
    font-style: unset;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #32b067;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #cc7a00;
}

#pre-loader {
   background: #090121 url(images/loader.gif) no-repeat center center; 
   background-size: 30%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
}

